body {
  background: rgb(24, 24, 29);
  overflow-y: scroll;
  margin: 0px;
}

#list_urls:focus {
  border-color: rgb(83, 83, 83);
}

.textbutton {
  text-align: center;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: auto;
  height: 32px;
  overflow: scroll;
  text-align: center;
  overflow-y: hidden;
  width: 100%;
  background-color: rgb(13, 13, 19);
  left: -9px;
}

.p1 {
  font-family: monospace;
  color: crimson;
}
.p2 {
  font-family: monospace;
  color: crimson;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  color: crimson;
  font-family: monospace;
}

.puttext {
  text-align: left;
  padding: 5px;
  line-height: 15px;
  margin-top: 35px;
}

#titlething {
  color: white;
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  justify-self: center;
}

#sendstuff {
  border-radius: 4px;
  border: none;
  background-color: crimson;
  color: black;
  vertical-align: center;
  padding: 5px;
  width: 50px;
  top: 0;
  text-align: center;
  height: 20px;
}

::selection {
  background-color: crimson;
  color: white;
}

::-moz-selection {
  background-color: crimson;
  color: white;
}

hr {
  border-color: rgb(67, 67, 85);
  border-bottom: 1px;
  border-style: solid;
  width: 100%;
}

.thetop {
  /*background-color: rgb(29, 29, 35);*/
  background-color: rgba(31, 31, 39, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  margin: 0px;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  height: 65px;
  line-height: 8px;
  left: 0px;
  top: 0px;
}

.theotherthing {
  background-color: rgb(13, 13, 19);
  margin: 0px;
  width: 100%;
  position: initial;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  left: 0px;
  top: 40px;
}

#enterone {
  float: right;
}

#input1 {
  /*border: 1px solid rgb(67, 67, 85);*/
  border: 1px solid rgba(255, 255, 255, 0.15);
  /*background-color: rgb(25, 25, 36);*/
  background-color: transparent;
  resize: none;
  min-height: 35px;
  max-height: 1000px;
  border-radius: 5px;
  font-family: monospace;
  display: flex;
  bottom: 10px;
  margin-top: 10px;
  outline: none;
  color: white;
  text-indent: 10px;
  /*padding: 10px;*/
  /*min-width: 100px;*/
  width: 100%;
  /*max-width: 1020px;*/
  max-width: 1000px;
  /*height: 35px;*/
  line-height: 15px;
  transition: 0.2s;
  overflow: hidden;
}

#input1:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

#input1:focus {
  /*border-color: crimson;*/
  border-color: rgba(255, 255, 255, 0.2);
}

#cetnere {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
}

#gaming {
  /*background-color: rgb(24, 24, 29);*/
  /*background-color: rgb(29, 29, 35);*/
  background-color: rgba(24, 24, 29, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  position: fixed;
  display: flex;
  bottom: 0px;
  height: 55px;
  margin: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.clickbutton {
  position: fixed;
  float: right;
  align-content: right;
  justify-content: right;
  bottom: 60;
  display: block;
  align-self: right;
  justify-self: right;
  left: 439;
}
.flipflop {
  color: crimson;
  /*position: absolute;*/
  top: 10;
  /*left: 615;*/
  font-size: 30px;
  margin: 5px 10px;
  animation: flipflop 5s 5s infinite;
}

@keyframes flipflop {
  1% {
    transform: rotateX(10deg) skewX(80deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

#milk {
  background-color: rgb(32, 32, 46);
  border-width: 0;
  color: white;
  font-family: monospace;
  padding: 6px;
  width: 75px;
  border-radius: 5px;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
}

#milk:hover {
  background-color: crimson;
  color: white;
}

#milk:active {
  background-color: crimson;
  color: white;
}

::placeholder {
  /*color: rgb(94, 94, 119);*/
  color: rgba(255, 255, 255, 0.25);
}

#consinput {
  top: 70;
}

#output1 {
  border-width: 0;
  font-family: monospace;
  /*border-color: rgb(64, 64, 95);*/
  /*background-color: rgb(38, 38, 43);*/
  background-color: transparent;
  border: none;
  border-left: 1px solid crimson;
  resize: none;
  text-align: left;
  margin-top: 20px;
  height: fit-content;
  /*padding: 10px;*/
  padding-left: 15px;
  max-width: 1000px;
  min-width: 0px;
  display: flex;
  outline: none;
  font-size: 15px;
  color: white;
  padding-right: 10px;
  /*width: 100%;*/
  /*max-height: 1000px;*/
  min-height: 0px;
  overflow: visible;
  /*line-height: 30px;*/
  transition: 0.1s;
}

#bigtitle {
  white-space: nowrap;
  text-align: center;
  line-height: 0px;
  margin-bottom: -20px;
  margin-top: 20px;
}

#thingwow {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px;
  border-radius: 3px;
}

#jimmygaming {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  justify-self: center;
}

.titlespan {
  font-weight: bold;
}
