/* --body-- */

body {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  overflow-x: hidden;
  text-align: center;
  background-color: white;
}

/* clicker text */
.toptext {
  align-self: flex-start;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}

/* our names */
#names {
  opacity: 70%;
}

/* --main game stuff-- */

/* bg */
.mainthings {
  background-color: rgb(235, 235, 235, 0.7);
  border-radius: 10px;
  width: 320px;
}

/* level text */
#level {
  font-size: 100%;
}
/* next level text */
#wowokay {
  margin-top: 0;
}

/* coin group */
.coinsd {
  top: 0;
  display: flex;
  align-self: flex-start;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: fit-content;
  height: 20px;
  padding: 8px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.2);
}

/* coin icon */

#bitcoin {
  border-radius: 100px;
  width: 20px;
  height: 20px;
}

/* coin text */
#coins {
  text-align: center;
  font-size: 20px;
}

/* click amount */
#point {
  font-family: sans-serif;
  font-size: 180%;
}

/* clicker button */
#square {
  background-color: black;
  border-width: 3;
  border-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px 20px; /* size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  outline: none;
}

#square:active {
  transform: scale(0.8);
}

/* detail stuff for info dropdown */
summary {
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
}

details {
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  outline: none;
}

/* --shop-- */

/* shop bg */
.shopshop {
  background-color: rgb(235, 235, 235, 0.7);
  border-radius: 10px;
  width: 320px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  display: inline-block;
  left: 50%;
  transform: translateX(1.2%);
}

/* shop buttons */
#cup1 {
  border-radius: 8px;
  border: none;
  background-color: lightgray;
  color: black;
  padding: 8px;
  width: 150px;
  cursor: pointer;
  outline: none;
}

#bup1 {
  border-radius: 8px;
  border: none;
  background-color: lightgray;
  color: black;
  padding: 8px;
  width: 150px;
  outline: none;
  cursor: pointer;
}

#chup1 {
  border-radius: 8px;
  border: none;
  background-color: lightgray;
  color: black;
  padding: 8px;
  width: 150px;
  cursor: pointer;
  outline: none;
}

#cup1:active {
  transform: scale(0.9);
}

#bup1:active {
  transform: scale(0.9);
}

#chup1:active {
  transform: scale(0.9);
}

/* disabled version of button that was
never used */
button:disabled {
  border-radius: 8px;
  border: none;
  background-color: rgb(211, 211, 211);
  color: rgb(54, 54, 54);
  padding: 8px;
  width: 150px;
  transition: none;
  transform: none;
}

/* shop prices */
#displayprice {
  font-size: 17px;
  font-weight: bold;
}

#displayprice2 {
  font-size: 17px;
  font-weight: bold;
}

#displayprice3 {
  font-size: 17px;
  font-weight: bold;
}

/* --other variables-- */

/* line */
hr {
  opacity: 50%;
}

/* text things */
h1 {
  font-family: sans-serif;
  color: crimson;
}

p {
  font-family: sans-serif;
}

sub {
  font-family: sans-serif;
}

/* button things */
button:hover {
  transform: scale(0.94);
  transition: 0.2s;
}

button {
  transition: 0.2s;
}

/* no idea what this is for */
.bees {
  background: white;
  display: block;
  border-radius: 8px;
  box-shadow: none;
  width: 80%;
  border: 0 none;
}
